<div class="container-contact">
    <div class="content-center">
        <h1 class="effect3d">{{ 'CONTACT.CONT' | translate }}</h1>
        <div class="contact-buttons">
            <a href="https://wa.me/+5212282279407?text=Hi%20Josue!" target="_blank" class="btn btn-whatsapp tooltip">
                <img src="./assets/img/whatsapp-logo.png" alt="WhatsApp">
                WhatsApp
                <span #tooltip1 class="tooltiptext">{{ 'CONTACT.WHATS' | translate }}</span>
            </a>
            <a href="https://mail.google.com/mail/u/2/?ogbl#inbox?compose=CllgCJZWxpzGwvXFqtVwkpttxNMxscjxctNnFWsqMcKRpMDwFvGDNwdDbcsSntVgxvNSvwgHbjB" target="_blank" class="btn btn-email tooltip">
                <img src="./assets/img/email-icon.png" alt="Email">
                Email
                <span #tooltip1 class="tooltiptext">{{ 'CONTACT.MAIL' | translate }}</span>
            </a>
            <a href="https://www.linkedin.com/in/josue-ortizv/" target="_blank" class="btn btn-linkedin tooltip">
                <img src="./assets/img/linkedin.png" alt="LinkedIn">
                LinkedIn
                <span #tooltip1 class="tooltiptext">{{ 'CONTACT.LINK' | translate }}</span>
            </a>
        </div>
        <div class="contact-info">
            <div class="contact-item tooltip" (click)="copy('+52 1 228 227 9407', tooltip1)">
                <img src="./assets/img/whatsapp-logo.png" alt="WhatsApp">
                <span>+52 1 228 227 9407</span>
                <span #tooltip1 class="tooltiptext">{{ 'CONTACT.COPY' | translate }}</span>
            </div>
            <div class="contact-item tooltip" (click)="copy('JosueOrtizz30@outlook.com', tooltip2)">
                <img src="./assets/img/email-icon.png" alt="Email">
                <span>JosueOrtizz30&#64;outlook.com</span>
                <span #tooltip2 class="tooltiptext">{{ 'CONTACT.COPY' | translate }}</span>
            </div>
            <div class="contact-item tooltip" (click)="copy('@Josue Ortiz', tooltip3)">
                <img src="./assets/img/linkedin.png" alt="LinkedIn">
                <span>&#64;Josue Ortiz</span>
                <span #tooltip3 class="tooltiptext">{{ 'CONTACT.COPY' | translate }}</span>
            </div>
        </div>
        
        
    </div>    
</div>
