#error-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
    margin-top: 50px;
    text-align: center;
}
p {
    text-align: center;
    margin-top: 20px;
}

img{
    margin-top: 50px;
    width: 18em;
    height: auto;
}