<div class="container">
    <section class="hero">
        <h1 class="effect3d">{{ 'HOME.TITLE' | translate }}</h1>
        <h2 class="FadeIn">{{ 'HOME.PROFESSION' | translate }}</h2>
    </section>

    <section class="about">
        <h3>{{ 'HOME.ABOUT-TITLE' | translate }}</h3>
        <div id="about-content">
            <div id="parrafos">
                <p>{{ 'HOME.INFO1' | translate }}</p>
                <br>
                <p>{{ 'HOME.INFO2' | translate }}</p>
            </div>
            <div id="foto">
                <img src="./assets/img/foto.png" alt="Me" id="myfoto">
            </div>            
        </div>

    </section>

    <section class="skills">
        <h3>{{ 'HOME.SKILLS' | translate }}</h3>
        <div id="skills-content">
            <div class="column">
                <h4>{{ 'HOME.LANGS' | translate }}</h4>
                <!-- Contenido para LANGS aquí -->
                <div id="langs">
                    <img class="img" src="./assets/img/html_resized.png" alt="HTML">
                    <img class="img" src="./assets/img/css_resized.png" alt="CSS">
                    <img class="img" src="./assets/img/js_resized.png" alt="JAVASCRIPT">
                    <img class="img" src="./assets/img/ts_resized.png" alt="TYPESCRIPT">
                    <img class="img" src="./assets/img/node_resized.png" alt="NODE.JS">
                    <img class="img" src="./assets/img/java.png" alt="JAVA">
                </div>
            </div>
            <div class="column-others">
                <div class="others">
                    <h4>{{ 'HOME.FRAMEWORKS' | translate }}</h4>
                    <!-- Contenido para FRAMEWORKS aquí -->
                    <div id="frameworks">
                        <img class="img" src="./assets/img/angular_resized.png" alt="ANGULAR">
                        <img class="img" src="./assets/img/express_resized.png" alt="EXPRESS">
                    </div>
                </div>
                <div class="others">
                    <h4>{{ 'HOME.DB' | translate }}</h4>
                    <!-- Contenido para Bases de datos aquí -->
                    <div id="db">
                        <img class="img" src="./assets/img/mongodb_resized.png" alt="MONGODB">
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

